*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;   /* center horizontally */
    align-items: center;       /* center vertically */
    background: #e6e6e6;       /* optional */
}

.card{
    width:50%;
    background:linear-gradient(130deg , #00feba , #5b548a);
    border-radius: 1rem;
    color: #fff;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
}

.search{
   display: flex;
   align-items: center;
   width: 100%;
}

.search input{
 border-radius:2rem;
 color:#232020;
 padding: 0.5rem 1rem ;
 font-size: 1rem;
 flex: 1;
 border: 0;
 outline: 0;
 background-color: #ebfffc;
 
 
}
.search button {
    background-color:#e6e6e6 ;
    padding: 0.4rem;
    margin-left: 0.5rem;
    border-radius:50%;
    border: 0;
    outline: 0;
}


.search button img{
    height:1.7rem;
    width:1.7rem;

}
.weather{
    display: flex;
    align-items: center;
    flex-direction:column;
}
.weather h1{
    font-size: 3rem;
    font-weight: 500;
}
.weather h2{
    font-size: 1.5rem;
    font-weight: 400;
}
.detail{
    display: flex;
    align-items: center;
    justify-content: space-between;

   
}
.detail  p{
    margin-left: 1rem;
    font-size: 1.2rem;
    font-weight:500;
}
.detail .detailA{
  margin: 3rem 4rem ;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
}
.detail .detailB{
  margin: 3rem 4rem;
display: flex;
  align-items: center;
  justify-content: center;
} 

.humidity{
    height:3rem;
    width: 3rem;
}
.wind{
    height:3.5rem;
    width: 3.5rem;
}